.header{
    display: flex;
}

.body{  
    background-image: url(img/city1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: rgb(7, 121, 115);
    
   
  }
.useToFlex{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}




@media(max-width:769px){
    .useToFlex{
        display: block;
        margin-top: 100px;
    }
    
}

@media (max-width:390px) {
    .header{
        display: block;
    }
}